settings:
  database: SQLITE
  cost-creating-clan: 10000
  xp-for-murder: 2
  xp-for-kill-player: 2
  xp-for-break-block: 2
  white-blocks:
    - "GRASS_BLOCK"
  min-size-clan-name: 2
  max-size-clan-name: 10
  bad-words:
    - "Admin"
  unknown-clan: "Нет"
  type: "Essentials"
  disable-privilege-type:
    - "FLY"
    - "GOD"
    - "VANISH"
  symbol-one: "&7["
  symbol-two: "&7]"
  rank-leader-name: "Лидер"
  rank-deputy-name: "Заместитель"
  rank-member-name: "Участник"
  blocked-commands:
    - "fly"
    - "god"
    - "vanish"






